<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-default">
        <div class="panel-heading">Create a tracking URL</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <div class="form-group col-xs-3">
                            <input type="text" size="10" placeholder="e.g. PolicyNumber" class="form-control" ng-model="key" required>
                        </div>
                        <div class="form-group col-xs-3">
                            <input type="text" size="8" placeholder="e.g. 1230951" class="form-control" ng-model="value" required>
                        </div>
                    </div>
                </form>
                <a class="btn btn-success" ng-click="addMetadata()" role="button">Add Metadata</a>
                <br>
                <br>
                <div class="list-group">
                    <a ng-repeat="metadata in metadatas" class="list-group-item">
                        {{metadata.key}} : {{metadata.value}}
                    <span class="btn btn-danger btn-xs pull-right"
                          style="margin-left: 20px;" ng-click="removeMetadata($index)">Remove</span>
                    </a>
                </div>

                <a class="btn btn-success" ng-click="createTracker()" role="button">Create Tracker</a>
            </div>
    </div>
</div>
